In [1]:
a= int(input ("Enter a number:"))
b = a + 3
c = b * 2
d = c - 4
e = d + 3
print (a)
print (b)
print (c)
print (d)
print (e)

Enter a number: 1

1
4
8
4
7

In [1]:
temperature = float(input("Enter temperature in Celsius:"))
Fahrenheit = (temperature * 1.8) + 32
print ("Temperature from Celsius to Fahrenheit is:", Fahrenheit)

Enter temperature in Celsius: 33.5

Temperature from Celsius to Fahrenheit is: 92.30000000000001

In [2]:
radius = float(input("Enter the radius:"))
Area = 3.142 * (radius*radius)
print ("The Area of the circle is: ", Area)

Enter the radius: 7.2

The Area of the circle is:  162.88128

In [9]:
col = str(input("Enter your favorite color: "))
print (col * 8)
print (col + "                        " + col)
print (col * 8)

Enter your favorite color:  blue

blueblueblueblueblueblueblueblue
blue                        blue
blueblueblueblueblueblueblueblue

In [13]:
name = "\t\n  Arqum Faisal  \n\t"
print("Name with whitespace characters:")
print(name)

print("\nName after lstrip:")
print(name.lstrip())

print("\nName after rstrip:")
print(name.rstrip())

print("\nName after strip:")
print(name.strip())

Name with whitespace characters:

  Arqum Faisal


Name after lstrip:
Arqum Faisal


Name after rstrip:

  Arqum Faisal

Name after strip:
Arqum Faisal

In [15]:
number = int(input("Enter a number to create its multiplication table: "))
print(f"Multiplication table of {number}:")
for i in range(1, 11):
    result = number * i
    print(f"{number} x {i} = {result}")

Enter a number to create its multiplication table:  15

Multiplication table of 15:
15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150

In [16]:
def describe_city(city, country="Australia"):
    print(f"{city} is in {country}.")
describe_city("Melbourne")  
describe_city("Sydney")    
describe_city("Jakarta", "Indonesia")

Melbourne is in Australia.
Sydney is in Australia.
Jakarta is in Indonesia.

In [17]:
def absolute_num(number):
    if number < 0:
        return -number  
    else:
        return number  
print(absolute_num(5))  
print(absolute_num(-10))

5
10

In [21]:
alphabet = input("Enter an alphabet :").lower()
if alphabet in "aeiou":
    print (f"(alphabet) is a vowel")
else:
    print (f"(alphabet) is a consonant")

Enter an alphabet : b

(alphabet) is a consonant

In [22]:
number = int(input("Enter a number: "))
if number > 1:
    for i in range(2, number):
        if number% i == 0:
            print(f"[number is not a prime number.")
            break
    else:
        print(f" (number) is a prime number.")
else:
    print(f"(number) is not a prime number.")

Enter a number:  5

 (number) is a prime number.

In [24]:
for i in range (7):
    if i == 3 or i == 6:
        continue
    print (i)

0
1
2
4
5

In [26]:
for i in range(1, 6):
    for j in range(i):
        print(i, end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [27]:
age = int (input("Enter your age: "))
if age < 2:
    print("The person is a baby.")
elif age >= 4 and age < 13:
    print("The person is a kid.")
elif age >= 13 and age < 20:
    print("The person is a teenager.")
elif age >= 20 and age < 65:
    print("The person is an adult.")
else:  
    print("The person is an elder.")

Enter your age:  23

The person is an adult.